@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}

header {
    height: 80px;
    padding-top: 28px;
}

.logo {
    margin-right: 97px;
}

.hamburger {
    margin-right: auto;
    display: none;
}

.hamburger_line {
    background-color: #000;
    width: 12px;
    height: 1.5px;
    margin-bottom: 4px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu_link {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}

.header_menu_link::last-child {
    margin-right: 0px;
}

.header_menu {
    display: flex;
    justify-content: space-between;
}

.header_menu li {
    display: block;
    margin-right: 30px;
}

.header_cart img, a {
    display: block;
}

.header_cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_cart a {
    margin-left: 10px;
    margin-right: 10px;
}

.first_screen {
    padding-top: 159px;
    padding-bottom: 177px;
    background: url(../img/bg/Group\ 1.png) center center/cover no-repeat;
}

.first_screen .main_screen_first_text, p {
    margin: 0 auto;
    text-align: center;
}

.main_screen_first_text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h1 {
    font-weight: 400;
    font-size: 47px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.first_screen p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.first_screen_btn {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
    border-radius: 0px;
    width: 230px;
    height: 18px;
    display: block;
    margin: 0 auto;
}

.first_screen_btn a {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}

.our_production {
    padding-top: 120px;
}

h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #1D1F2E;
}

.our_production_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
    width: 658px;
    text-align: center;
    margin-bottom: 20px;
    color: rgba(29, 31, 46, 0.7);
}

.our_production a {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #A25F4B;
    display: block;
    margin: 0 auto;
}

.history_line {
    width: 133px;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 98px;
    background: rgba(162, 95, 75, 0.2);
}

.heading_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    height: 18px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.heading_wrapper p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    margin-right: 10px;
    margin-left: 10px;
}

.heading_wrapper_line {
    width: 30px;
    height: 1px;
    background: #ECECED;
    border-radius: 0px;
}

.production_cards_wrapper {
    margin-bottom: 140px;
    display: flex;
    justify-content: space-between;
}

.product_cards_name {
    margin: 0 auto;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
}

.product_cards_name a {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1D1F2E;
}

.production_price {
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(29, 31, 46, 0.7);
}

.production_price span {
    font-size: 19px;
    color: #A25F4B;
}

.line-through {
    color: rgba(29, 31, 46, 0.4);
    text-decoration: line-through;
}

.other_production_wrapper {
    display: flex;
    justify-content: space-between;
}

.production_cards_item .product_cards_name {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1D1F2E;
}

.other_production .production_price {
    margin-bottom: 150px;
}

.premium_offer .heading_wrapper {
    width: 455px;
    margin-bottom: 100px;
}

.premium_offer_wrapper {
    display: flex;
    margin-bottom: 130px;
}

.premium_offer_img {
    margin-right: 80px;
}

.premium_offer_descr p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    margin-bottom: 20px;
    text-align: left;
}

.premium_offer_heading {
    font-size: 36px;
    line-height: 50px;
    color: #1D1F2E;
    margin-bottom: 20px;
}

.premium_offer_text {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}

.premium_offer_btn {
    height: 36px;
    width: 176px;
    background: #1D1F2E;
    border-radius: 0px;
}

.premium_offer_btn a {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section_img {
    height: 340px;
    background: url(../img/bg/IMAGE\ \(2\).png) center center/cover no-repeat;
}

.blog {
    padding-top: 100px;
    padding-bottom: 200px;
}

.blog .heading_wrapper {
    width: 377px;
    margin-bottom: 100px;
}

.blog_cards_wrapper {
    display: flex;
    justify-content: space-between;
}

.blog_cards_item {
    width: 300px;
}

.blog_cards_img {
    margin-bottom: 25px;
}

.blog_cards_item .product_cards_text {
    margin-bottom: 15px;
    margin-top: 15px;
}

.blog .product_cards_name a {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1D1F2E;
    text-align: left;
    display: block;
    width: 300px;
}

.blog_cards_item .product_cards_text, .product_cards_name {
    width: 280px;
}

.blog_cards_item .product_cards_text, .blog-text {
    width: 280px;
    margin-left: 0px;
}

.blog_cards_data {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}

.email_form {
    background: #1D1F2E;
    height: 327px;
    padding-top: 80px;
    padding-bottom: 85px;
}

.email_form .heading_wrapper {
    width: 366px;
    color: white;
}

.email_form .heading_wrapper p {
    color: #FFFFFF;
}

.email_form_heading {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 25px;
}

.email_form .heading_wrapper {
    margin-bottom: 15px;
}

.email_form_input {
    width: 350px;
    height: 54px;
    border: 1px solid #2F303E;
    background: none;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.email_form button {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
    border-radius: 0px;
    width: 129px;
    height: 54px;
    margin-left: 10px;
}

.email_form form {
    text-align: center;
}

footer {
    padding-top: 100px;
    padding-bottom: 48px;
}

.footer_links_wrapper {
    display: flex;
    justify-content: space-between;
}

footer .logo {
    margin-bottom: 22px;
}

footer .premium_offer_text {
    margin-bottom: 81px;
    text-align: left;
}

footer .footer_heading {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    margin-bottom: 25px;
}

footer .footer_links_item a {
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
    display: block;
    margin-bottom: 10px;
}

.footer_email {
    font-size: 23px;
    line-height: 36px;
    color: #1D1F2E;
    margin-bottom: 55px;
}

.copy_in_footer {
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.3);
}